.product-form {
  margin: auto;
  max-width: 90%;
  width: 20rem;
}

.form-control {
  margin: 1rem 0;
}

.form-control input,
.form-control label {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #dbc441;
  border-radius: 2px;
  font: inherit;
}

button {
  background: white;
  border: 1px solid #dbc441;
  border-radius: 3px;
  color: #3e00a1;
  cursor: pointer;
  font: inherit;
}

button:active,
button:hover {
  background-color: #3e00a1;
  color: white;
}
